#business-hours {
    text-align: center;
}

#header-div {
    margin-top: 30px;
    margin-left: 50px;
}

.header-parts {
    float: left;
    margin-right: 5%;
}

#header-title {
    width: 40%;
}

#header-address {
    padding-top: 20px;
    text-align: center;
    margin-left: 40px;
}

#header-hours {
    margin-top: 20px;
    margin-right: 75px;
}

.header-hours-lines {
    margin-bottom: 7px;
}

#header-hours-title {
    text-align: center;
}

.header-img {
    height:100px;
}

#header-imgs-div {
    width: 900px;
}