#landing-page-div {
    float: left;
    margin-left: 100px;
    display: inline-block;
    /* width: auto; */
    width: 40vw;
}

.landing-page-pic {
    max-height:180px;
    width:130px;
    margin:20px;
}

#map {
    height:300px;
    width: 300px;
    margin-right:80px;
    margin-top:20px;
    margin-bottom: 80px;
    margin-left: 80px;
}

#directions {
   /* float: right; */
   display: inline-block;
   /* width: auto; */
   width: 40vw;
}

#panel {
    display: inline-block;
    
}