#landing-page-div {
    float: left;
    width: 50%;
}

.landing-page-pic {
    max-height:270px;
    /* width:200px; */
    margin:20px;
}

.landing-page-divs {
    font-family: cursive;
    font-size: 22px;
    font-weight: bold;
}

.landing-page-laura {
    height: 300px;
}

#about-me-text {
    line-height: 60px;
    font-family: cursive;
    font-weight: bold;
    font-size: 20px;
}

#landing-page-second-pic {
    margin-right: -200px;
}