/* .map-form {

} */

.start-input {
    margin: 20px;
}

#panel {
    float: left;
    margin: 50px;
}

#map-form-and-map {
    display: inline-block;
}

.adp-placemark {
    width: 525px;
}

.adp-summary {
    font-weight: bold;
    font-size: 22px;
}

#directions-panel-before-map {
    font-weight: bold;
}

#map {
    float: right;
    height:500px;
    width: 500px;
    margin-top: 20px;
}
