.navbar-buttons {
    margin:5px;
    background-color: #FF3030;
    color: black;
    width: 100%;
    border: none;
    border-radius: 0 0;
    font-family: cursive;
    font-weight: bold;
    font-size: 26px;
}

.navbar-buttons:hover {
    margin:5px;
    background-color: rgba(243, 83, 118, 0.582);
    color: black;
}

.navbar-buttons:active {
    margin:5px!important;
    background-color: rgba(133, 36, 57, 0.582)!important;
    color: black!important;
}

.navbar-navitem {
    width: 20vw;
}

.nacbar {
    background-color: blue
}
