#map-modal-btn {
    margin-left: 10px;
}

#map-modal-content {
    height:700px;
    overflow: scroll;
    text-align: center;
}

.adp-directions {
    background-color: blue;
    margin-left: 100px;
}

.adp-summary {
    background-color: brown
}